.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1b1b1b; /* 다크한 네이비/블랙 계열 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

main {
    flex: 1;
    padding-top: 1rem;
}

.content {
    max-width: 1400px; /* 차트 가독성을 위해 넓게 설정 */
    margin: 0 auto;
}
