<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🚀 SmartTrading</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door"></span> 대시보드
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="chart-test">
                        <span class="bi bi-graph-up"></span> 실시간 차트
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="trading">
                        <span class="bi bi-currency-exchange"></span> 주식 주문
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="account">
                        <span class="bi bi-wallet2"></span> 내 자산/잔고
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings">
                        <span class="bi bi-gear"></span> 설정/보안
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>